body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(209, 209, 209);
  background-color: rgb(41, 41, 41);
}

.disableSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

nav {
  display: flex;
  align-items: stretch;
  background-color: rgb(41, 41, 41);
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.75);
  line-height: 70px;
  height: 70px;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 auto;
}
.nav-links li:hover {
  color: white;
  background-color: blueviolet;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-links li:active {
  color: white;
  background-color: rgb(86, 30, 138);
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.logo {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  cursor: pointer;
}
.logo:active {
  color: whitesmoke;
}
ul {
  list-style: none;
}
li {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

#app {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.post {
  padding: 5px;
  overflow: hidden;
  min-width: 200px;
  max-width: 300px;
  margin: 5px;
  margin-top: 25px;
  min-height: 350px;
  max-height: 500px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}
.post:hover {
  box-shadow: 0px 0px 15px 0px blueviolet;
  transition: 0.2s ease-in-out; 
}

.post {
  flex-grow: 1;
}

.author {
  float: left;
  margin-bottom: 0px;
  margin-top: 10px;
}

.addToMyPlaylist{
  float: right;
  margin-bottom: 0px;
  margin-top: 10px;
  color: white;
  background-color: blueviolet;
  border: 0;
  padding: 5px;
  outline: 0;
  cursor: pointer;
}
.addToMyPlaylist:active{
  transition: 0.1s ease-in-out;
  background-color: rgb(86, 30, 138);
}

